body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar_container {
  height: 100px;
  width: 100%;
  position: fixed !important;
  display: block;
  background: #003399;
  top: 0;
  border-bottom: 5px solid #000000;
  z-index: 10;
}

.navbar_logo {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  display: block;
  float: left;
  top: 15px;
  left: 15px;
}

.navbar_logo a {
  color: #FFFFFF;
  text-decoration: none;
}

.navbar_links {
  position: relative;
  display: block;
  float: right;
  top: 40%;
}

.navbar_links>a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

/*start section styles*/
.section_container {
  display: block;
  position: relative;
  top: 15px;
  text-align: center;
  /*background-image:linear-gradient(rgba(255,255,255,.9), rgba(0,0,0,.2), rgba(0,0,0,.2), rgba(255,255,255, .9));*/
  height: 900px;
}

.section_text_container {
  background: #FFFFFF;
  position: relative;
  display: block;
  top: -20px;
  padding: 35px 50px 25px 50px;
  box-shadow: 10px 10px 35px #999999;
}

.section_header {
  position: relative;
  display: block;
}

.section_header h2 {
  color: #6090d8;
  font-size: 36px;
  font-weight: bold;
  margin: 13px 0;
  text-transform: uppercase;
}

.section_content {
  display: block;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.section_content::before {
  display: block;
  position: relative;
  content: "";
  background: #003399;
  height: 4px;
  width: 104%;
  top: -2px;
  left: -2%;
}

.section_content p {
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

/*slogan*/

#slogan_section .section_text_container {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 125px;
  background: rgba(255, 255, 255, .9);
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

#slogan_section .section_header h2 {
  font-size: 70px;
}

#slogan_section .section_content {
  text-align: center;
}

#slogan_section .section_content::before {
    width: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;
    -webkit-animation: expandThis 1s ease-in;
    -webkit-animation-fill-mode: forwards;
}
  
@-webkit-keyframes expandThis {
    0% {
      width: 0px;
    }
    100% {
      width: 100%;
    }
}

#slogan_section .section_content p {
  font-size: 20px;
}

#slogan_section {
  background: url('../assets/city.png') center center no-repeat;
  background-size: 100% 100%;
  z-index: 2;
  background-attachment: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*end slogan styles*/

/*welcome styles*/

#welcome_section {
  background: url('../assets/city.png') center center no-repeat;
  background-size: 100% 100%;
  z-index: 2;
  background-attachment: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

/*end welcome styles*/

/*translation styles*/
#translation_section {
  background: url('../assets/energypic.jpg') center center no-repeat;
  background-size: 100% 100%;
  z-index: 2;
  background-attachment: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

/*end translation styles*/

/*proofreading styles*/
#proofreading_section {
  background: url('../assets/shippingpic.jpg') center center no-repeat;
  background-size: 100% 100%;
  z-index: 2;
  background-attachment: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

/*end proofreading styles*/

/*presentation styles*/
#presentation_section {
  height: 600px;
}

#presentation_section {
  background: url('../assets/environmentpic.jpg') center center no-repeat;
  background-size: 100% 100%;
  z-index: 2;
  background-attachment: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

/*end presentation styles*/

/*footer styles*/
.footer_container {
  display: block;
  position: relative;
  height: 255px;
  background: #003399;
}

.social_contact_container {
  display: block;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.copyright {
  text-align: center;
  color: #FFFFFF;
  height: 30px;
  border-top: 1px solid #FFFFFF;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.copyright p {
  font-size: 12px;
  margin: 8px;
}

.social_media {
  position: relative;
  display: block;
  color: #FFFFFF;
  text-align: center;
}

.social_media h3 {
  margin: 0 0;
  padding: 20px 0 10px;
}

.social_media a {
  height: 42px;
  width: 42px;
  display: inline-block;
  color: #FFFFFF;
  margin: 0 10px 10px;
  background: #000000;
}

.social_media a:hover {
  opacity: 0.6;
}

.social_media .social_media_icons {
  top: 11px;
  position: relative;
}

.contact_icons {
  top: 6px;
  position: relative;
  transform: scale(0.7);
}

.contact_us {
  position: relative;
  display: block;
  color: #FFFFFF;
  text-align: center;
}

.contact_us h3 {
  margin-bottom: 10px;
}

.contact_us p {
  display: block;
  margin: 5px 0;
}

.contact_us a {
  display: block;
  margin: 5px 0;
  color: #FFFFFF;
}

.contact_us a i {
  margin-right: 5px;
}

.contact_us a:hover {
  text-decoration: none;
}

@media screen and (min-width: 550px) {

  .footer_container {
    height: 185px;
  }

  .contact_us {
    float: right;
    right: 5px;
    top: 23px;
  }

  .social_media {
    float: left;
    left: 5px;
  }

  .social_media a {
    margin: 0 10px 25px;
  }
}

@media screen and (min-width: 970px) {
  .navbar_logo {
    font-size: 40px;
    top: -15px;
    left: 15px;
  }

  .translate_container {
    padding: 0 130px;
  }
}