body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar_container {
  height: 100px;
  width: 100%;
  position: fixed;
  display: block;
  background: #003399;
  top: 0;
  border-bottom: 5px solid #000000;
  z-index: 10;
}

.navbar_logo {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  display: block;
  float: left;
  top: 15px;
  left: 15px;
}

.navbar_logo a {
  color: #FFFFFF;
  text-decoration: none;
}

.navbar_links {
  position: relative;
  display: block;
  float: right;
  top: 40%;
}

.navbar_links>a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

/*start section styles*/
.section_container {
  display: block;
  position: relative;
  top: 15px;
  text-align: center;
  /*background-image:linear-gradient(rgba(255,255,255,.9), rgba(0,0,0,.2), rgba(0,0,0,.2), rgba(255,255,255, .9));*/
  height: 900px;
}

.section_text_container {
  background: #FFFFFF;
  position: relative;
  display: block;
  top: -20px;
  padding: 35px 50px 25px 50px;
  box-shadow: 10px 10px 35px #999999;
}

.section_header {
  position: relative;
  display: block;
}

.section_header h2 {
  color: #6090d8;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.section_content {
  display: block;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.section_content p {
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

/*welcome styles*/
#welcome {
  margin-top: 90px;
}

#welcome::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../assets/city.png') center center no-repeat;
  background-size: 100% 100%;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .65;
}

#welcome .section_text_container {
  top: 200px;
}

/*end welcome styles*/

/*translation styles*/
#translation::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../assets/energypic.jpg') center center no-repeat;
  background-size: 100% 100%;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .65;
}

/*end translation styles*/

/*proofreading styles*/
#proofreading::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../assets/shippingpic.jpg') center center no-repeat;
  background-size: 100% 100%;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .65;
}

/*end proofreading styles*/

/*presentation styles*/
#presentation {
  height: 600px;
}

#presentation::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../assets/environmentpic.jpg') center center no-repeat;
  background-size: 100% 100%;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .65;
}

/*end presentation styles*/

/*footer styles*/
.footer_container {
  display: block;
  position: relative;
  height: 255px;
  background: #003399;
}

.social_contact_container {
  display: block;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.copyright {
  text-align: center;
  color: #FFFFFF;
  height: 30px;
  border-top: 1px solid #FFFFFF;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.copyright p {
  font-size: 12px;
  margin: 8px;
}

.social_media {
  position: relative;
  display: block;
  color: #FFFFFF;
  text-align: center;
}

.social_media h3 {
  margin: 0 0;
  padding: 20px 0 10px;
}

.social_media a {
  height: 42px;
  width: 42px;
  display: inline-block;
  color: #FFFFFF;
  margin: 0 10px 10px;
  background: #000000;
}

.social_media a:hover {
  opacity: 0.6;
}

.social_media .social_media_icons {
  top: 11px;
  position: relative;
}

.contact_icons {
  top: 6px;
  position: relative;
  transform: scale(0.7);
}

.contact_us {
  position: relative;
  display: block;
  color: #FFFFFF;
  text-align: center;
}

.contact_us h3 {
  margin-bottom: 10px;
}

.contact_us p {
  display: block;
  margin: 5px 0;
}

.contact_us a {
  display: block;
  margin: 5px 0;
  color: #FFFFFF;
}

.contact_us a i {
  margin-right: 5px;
}

.contact_us a:hover {
  text-decoration: none;
}

@media screen and (min-width: 550px) {

  .footer_container {
    height: 150px;
  }

  .contact_us {
    float: right;
    right: 5px;
  }

  .social_media {
    float: left;
    left: 5px;
  }

  .social_media a {
    margin: 0 10px 25px;
  }
}

@media screen and (min-width: 970px) {
  .navbar_logo {
    font-size: 40px;
    top: -15px;
    left: 15px;
  }

  .translate_container {
    padding: 0 130px;
  }
}