/*navbar styles*/
.navbar_container {
  height: 100px;
  width: 100%;
  position: fixed;
  display: block;
  background: #003399;
  top: 0;
  border-bottom: 5px solid #000000;
  z-index: 10;
}

.navbar_logo {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  display: block;
  float: left;
  top: 15px;
  left: 15px;
}

.navbar_links {
  position: relative;
  display: block;
  float: right;
  top: 40%;
}

.navbar_links > a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
/*end navbar styles*/

/*start translation styles*/
.translate_container {
  display: block;
  position: relative;
  top: 100px;
  text-align: center;
  padding: 0 30px;
}

.translate_header {
  color: #6090d8;
  font-size: 36px;
  font-weight: bold;
}

.translate_content {
  font-size: 16px;
}
/*end translation styles*/

@media screen and (min-width: 970px) {
  .navbar_logo {
    font-size: 40px;
    top: -15px;
    left: 15px;
  }

  .translate_container {
    padding: 0 130px;
  }
  
}

