/*navbar styles*/
.navbar_container {
  height: 100px;
  width: 100%;
  position: fixed;
  display: block;
  background: #003399;
  top: 0;
  border-bottom: 5px solid #000000;
  z-index: 10;
}

.navbar_logo {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  display: block;
  float: left;
  top: 15px;
  left: 15px;
}

.navbar_links {
  position: relative;
  display: block;
  float: right;
  top: 40%;
}

.navbar_links > a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
/*end navbar styles*/

/*start translation styles*/
.translate_container {
  display: block;
  position: relative;
  top: 15px;
  text-align: center;
  padding: 0 30px;
}

.translate_header {
  color: #6090d8;
  font-size: 36px;
  font-weight: bold;
}

.translate_content {
  font-size: 16px;
}
/*end translation styles*/

/*footer styles*/
.footer_container {
  display: block;
  position: relative;
  height: 255px;
  background: #003399;
}

.social_contact_container {
  display: block;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.copyright {
  text-align: center;
  color: #FFFFFF;
  height: 30px;
  border-top: 1px solid #FFFFFF;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.copyright p {
  font-size: 12px;
  margin: 8px;
}

.social_media {
  position: relative;
  display: block;
  color: #FFFFFF;
  text-align: center;
}

.social_media h3 {
  margin: 0 0;
  padding: 20px 0 10px;
}

.social_media a {
  height: 42px;
  width: 42px;
  display: inline-block;
  color: #FFFFFF;
  margin: 0 10px 10px;
  background: #000000;
}

.social_media a:hover {
  opacity: 0.6;
}

.social_media i {
  top: 11px;
  position: relative;
}

.contact_us {
  position: relative;
  display: block;
  color: #FFFFFF;
  text-align: center;
}

.contact_us h3 {
  margin-bottom: 10px;
}

.contact_us p {
  display: block;
  margin: 5px 0;
}

.contact_us a {
  display: block;
  margin: 5px 0;
  color: #FFFFFF;
}

.contact_us a i {
  margin-right: 5px;
}

.contact_us a:hover {
  text-decoration: none;
}

/*end footer styles*/

@media screen and (min-width: 550px) {

  .footer_container {
    height: 150px;
  }

  .contact_us {
    float: right;
    right: 5px;
  }

  .social_media {
    float: left;
    left: 5px;
  }

  .social_media a {
    margin: 0 10px 25px;
  }
}

@media screen and (min-width: 970px) {
  .navbar_logo {
    font-size: 40px;
    top: -15px;
    left: 15px;
  }

  .translate_container {
    padding: 0 130px;
  }
}

